* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 75vh;
  background: url("https://images.pexels.com/photos/4458422/pexels-photo-4458422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.header__content {
  text-align: center;
}

.header__content-links a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: 17px;
}

.header__content-span {
  display: inline-block;
  height: 15px;
  background: white;
  width: 1.5px;
  margin-left: 20px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.header__content-h1 {
  font-size: 75px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 3px 3px 3px white;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 15;
  top: 0;
  padding-top: 25px;
  background: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navbar__heading-2 {
  color: white;
}

.navbar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.navbar__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-left: 350px;
  list-style: none;
}

.navbar__content-right li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 7px;
  margin: 10px 15px;
}

.about {
  padding: 120px 0;
  width: 100%;
}

.about-h4 {
  font-size: 30px;
  font-weight: 600;
}

.about-text p {
  color: #777;
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  padding-left: 50px;
}

.about__section {
  background: #efefef;
  padding: 60px;
  text-align: center;
}

.about__section-icon svg {
  color: #75dab4;
  margin-bottom: 10px;
}

.about__section-heading h6 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.about__section-text {
  color: #777;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 1px;
}

.show {
  background: url("https://images.pexels.com/photos/4458422/pexels-photo-4458422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.show__content h1 {
  font-size: 45px;
  font-weight: 700;
}

.show__card {
  position: absolute;
  bottom: -230px;
  width: 470px;
  color: black;
  padding: 80px 40px;
  background: #75dab4;
  right: 0;
}

.show__card-h6 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.show__card-h4 {
  font-size: 30px;
  font-weight: 600;
  color: #0c0f16;
  margin-bottom: 20px;
}

.show__card-text {
  font-size: 15px;
  letter-spacing: 1px;
}

.blank {
  width: 100%;
  height: 200px;
  background: #f7f7f7;
}

.portfolio {
  width: 100%;
  height: 500px;
  position: relative;
}

.portfolio::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 50%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
}

.portfolio::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 50%;
  height: 100%;
  background: #efefef;
  top: 0;
  right: 0;
}

.portfolio__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  width: 100%;
}

.portfolio__content-h6 {
  color: #75dab4;
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 14px;
  margin-bottom: 5px;
}

.portfolio__content-h3 {
  font-weight: 700;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 0 8px rgba(0, 0, 0, 0.05);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.whiteBg {
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.whiteBg a {
  color: black !important;
}

.transparent {
  background: transparent;
}

.transparent a {
  color: white;
}

.heading-scroll {
  color: black;
}

.pl-15 {
  padding-left: 15px;
}

.mt-60 {
  margin-top: 60px;
}

.rel {
  position: relative;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=main.css.map */