.about {
  padding: 120px 0;
  width: 100%;
  &-h4 {
    font-size: 30px;
    font-weight: 600;
  }
  &-text p {
    color: $silver;
    font-size: 15px;
    line-height: 2;
    font-weight: 300;
    padding-left: 50px;
  }
  &__section {
    background: #efefef;
    padding: 60px;
    text-align: center;
    &-icon svg {
      color: $green;
      margin-bottom: 10px;
    }
    &-heading h6 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    &-text {
      color: $silver;
      font-size: 15px;
      line-height: 2;
      letter-spacing: 1px;
    }
  }
}
